[MASTER]

# Disable the following errors when linting
# Line length is controlled by black and isort, so pylint raising errors around this is meaningless
disable=line-too-long,
    missing-module-docstring,
    missing-class-docstring,
    missing-function-docstring,
    too-many-branches,
    too-many-nested-blocks,
    too-many-arguments,
    too-few-public-methods,
    too-many-return-statements,
    too-many-public-methods,
    too-many-instance-attributes,
    too-many-locals,
    too-many-statements,
    redefined-outer-name,
    duplicate-code
